    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <b>ORider</b><sup class="text-info">BETA</sup>
    </a>
    <button class="navbar-toggler" type="button" ng-if="nav.visible()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav" ng-if="nav.visible()">
        <div class="navbar-nav mr-auto">
            <!--
            <a class="nav-item nav-link active" ng-class="{ active: nav.isActive('Rides') }" ng-href="#!/rides">Rides</a>
            -->
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" ng-if="isLoggedIn()" ng-href="#!/my/account" title="{{ account.device }}">Wallet: {{ account.deviceName }}</a>
            <a class="nav-item nav-link" ng-if="!isLoggedIn()" ng-href="#!/login">Login</a>
            <a class="nav-item nav-link" ng-if="isLoggedIn()" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>