<h4 class="m-3">
    I am a driver<br>
</h4>
<p class="m-3">
    ... and I am willing to share my car with others and drive them to an agreed destination in exchange for a fee I decide.
</p>
<div class="row m-2">
    <div class="col-12 col-md p-3 m-2 bg-light">
        <h5>1. Post a ride</h5>
        <section>
            <a href="https://obyte.org/#download" target="_blank">Download the O<sub>byte</sub> wallet</a> and use it to  <a ng-href="#!/login">log in</a> to ORider, enter the pick-up and drop-off locations and departure time, price it and post it.
        </section>
    </div>
    <div class="col-12 col-md p-3 m-2 bg-light">
        <h5>2. Start boarding</h5>
        <section>
            Drive to the pick up location, select your ride and start boarding. Wait for your passengers to arrive, let them check-in by scanning your boarding QR code.
        </section>
    </div>
    <div class="col-12 col-md p-3 m-2 bg-light">
        <h5>3. Drive and get paid</h5>
        <section>
            Once your passengers checked-in and made a payment, drive to the drop-off location to complete the ride. Wait for the funds to be released from smart contracts into your account.
        </section>
    </div>
</div>

<br>
<hr>
<br>

<h4 class="m-3">
    I am a passenger<br>
</h4>
<p class="m-3">
    ... and I am willing to pay a fee and share someone's car to get to a given destination.
</p>
<div class="row m-2">
    <div class="col-12 col-md p-3 m-2 bg-light">
        <h5>1. Pick a ride</h5>
        <section>
            <a href="https://obyte.org/#download" target="_blank">Download the O<sub>byte</sub> wallet</a> and use it to <a ng-href="#!/login">log in</a>, reserve a ride.
        </section>
    </div>
    <div class="col-12 col-md p-3 m-2 bg-light">
        <h5>2. Check-in</h5>
        <section>
            Go to the pick up location, get in the car and check-in by scanning the boarding QR code with your O<sub>byte</sub> wallet, make a payment to the smart contract that is automatically offered to you.
        </section>
    </div>
    <div class="col-12 col-md p-3 m-2 bg-light">
        <h5>3. Enjoy the ride</h5>
        <section>
            Sit back and enjoy the ride, when you arrive at the drop-off location, leave the car. Your payment will be automatically transferred to the driver.
        </section>
    </div>
</div>