<div ng-include="'/fragment/messages.html'"></div>

<div class="row justify-content-center">
    <div class="col-auto p-3 card border-dark" ng-if="checkInUrl">
        <div class="mx-auto">
            <qrcode data="{{ checkInUrl }}" size="280" version="7"></qrcode>
        </div>
        <div class="card-body">
            <h3 class="car-title text-monospace text-center">Check-in</h3>
            <p class="card-text"><small class="text-muted">Passengers have to scan to check in for the ride</small></p>
        </div>
    </div>
    <div class="col-12 col-md-8 card border-light">
        <div class="card-body">
            <h5 class="card-title">
                {{ ride.departure | date:'MMM dd, yyyy HH:mm a'}} <br>
            </h5>
            <p>
                Pick-up: {{ ride.pickupAddress }} <br>
                Drop-off: {{ ride.dropoffAddress }} <br>
                <a class="card-link"
                   ng-href="https://google.com/maps/dir/{{ ride.pickupAddress }}/{{ ride.dropoffAddress }}"
                   target="carpool-map">Directions</a>
            </p>
            <div>
                Waiting for checking in:
                <ul class="list-unstyled">
                    <li ng-repeat="reservation in reservations | filter: 'reserved'">{{ reservation.name }}</li>
                </ul>

                <style>
                    .payment .received {
                        color: green;
                    }
                </style>
                Checked in:
                <ul class="list-unstyled payment">
                    <li ng-class="reservation.paymentStatus" ng-repeat="reservation in reservations | filter: 'checkedin'">{{ reservation.name }}</li>
                </ul>
            </div>
            <div>
                <button class="btn btn-primary card-link" type="button" ng-click="startBoarding()" ng-if="!isBoarding() && !isCompleted()">Start boarding</button>
                <span class="card-link text-muted" ng-if="isBoarding()">Boarding now</span>
                <button class="btn btn-primary card-link" type="button" ng-click="completeRide()" ng-if="!isCompleted()" ng-disabled="isCreated()">Complete Ride</button>
                <span class="card-link text-muted" ng-if="isCompleted()">Completed ({{ ride.completionScore * 100 | number :0}}%)</span>
            </div>
        </div>
    </div>
</div>
