<div ng-include="'/fragment/messages.html'"></div>

<div class="modal fade" id="rideAutoCompletion" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Completing ride</h3>
                <p>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ autoCompletionProgress * 100 | number:0 }}%" aria-valuenow="{{ autoCompletionProgress * 100 | number:0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </p>
                <p class="d-flex justify-content-center">
                    <button id="cancelCompletion" class="btn btn-primary px-5" type="button" ng-click="cancelCompletion()">Cancel</button>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-auto pt-3 card border-dark" ng-if="initialized && !ridePaid && checkInUrl">
        <div class="mx-auto">
            <qrcode data="{{ checkInUrl }}" size="270" version="7"></qrcode>
        </div>
        <div class="card-body">
            <h4 class="car-title text-monospace text-center">Check-in ({{ totalCheckIns }}/{{ reservations.length }})</h4>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ paidCheckIns * 100 | number:0 }}%" aria-valuenow="{{ paidCheckIns * 100 | number:0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" role="progressbar" style="width: {{ unpaidCheckIns * 100 | number:0 }}%" aria-valuenow="{{ unpaidCheckIns * 100 | number:0 }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="card-text"><small class="text-muted">Passengers have to scan to check in for the ride</small></p>
        </div>
    </div>

    <div class="col-12 col-md-4" ng-if="initialized && ridePaid && googleMapUrl && !isCompleted()">
        <iframe ng-src="{{ googleMapUrl }}" frameborder="0" width="100%" height="350" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-12 col-md-4" ng-if="isCompleted()">
        <div class="card" style="min-height: 350px">
            <div class="card-header clearfix">
                <span class="float-left">Ride result</span>
                <a class="float-right" ng-href="{{ride.oracleUnitUrl}}" target="explorer" ng-if="ride.oracleValue">{{ ride.oracleValue}}</a>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Score</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>You</div>
                            <td>{{ ride.completionScore * 100 | number :0}}%</td>
                            <td>-</td>
                        </tr>
                        <tr ng-repeat="reservation in reservations">
                            <td>{{ reservation.name }}</div>
                            <td ng-if="reservation.status === 'completed'">{{ reservation.completionScore * 100 | number:0 }}%</td>
                            <td ng-if="reservation.status !== 'completed'">pending</td>
                            <td ng-if="reservation.paymentStatus === 'received'"><a ng-href="{{ reservation.paymentUnit | explorerUrl }}" target="explorer">{{ ride.pricePerSeat | MBYTE }} MB</a></td>
                            <td ng-if="reservation.paymentStatus === 'paid'"><a ng-href="{{ reservation.paymentUnit | explorerUrl }}" target="explorer">{{ ride.pricePerSeat | MBYTE }} MB</a></td>
                            <td ng-if="reservation.paymentStatus === 'failed'"><a ng-href="{{ reservation.paymentUnit | explorerUrl }}" target="explorer">FAILED</a></td>
                            <td ng-if="reservation.paymentStatus === 'unpaid'">UNPAID</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Total</th>
                            <th ng-if="totalPayments">{{ totalPayments | MBYTE }} MB</th>
                            <th ng-if="!totalPayments">-</th>
                        </tr>
                        <tr ng-if="ride.oracleValue === 'INCOMPLETE'">
                            <th colspan="2">Refunded</th>
                            <th ng-if="totalPayments">{{ totalPayments | MBYTE }} MB</th>
                            <th ng-if="!totalPayments">-</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8 card border-light">
        <div class="card-body">
            <h5 class="card-title">
                {{ ride.departure | date:'MMM dd, yyyy HH:mm a'}} <br>
            </h5>
            <p>
                <i class="fa fa-car"></i> {{ ride.pickupAddress }} <br>
                <i class="fa fa-dot-circle-o"></i>
                <a ng-href="https://google.com/maps/dir/{{ ride.pickupAddress }}/{{ ride.dropoffAddress }}"
                    target="carpool-map"> {{ ride.dropoffAddress }} <br>
                </a>
            </p>
            <div>
                <button class="btn btn-primary card-link" type="button" ng-click="startBoarding()" ng-if="!isBoarding() && !isCompleted()">Start boarding</button>
                <span class="card-link text-muted" ng-if="isBoarding()">Boarding now</span>
                <button class="btn btn-primary card-link" type="button" ng-click="completeRide()" ng-if="!isCompleted()" ng-disabled="isCreated()">Complete Ride</button>
            </div>
        </div>
    </div>
</div>
