<div ng-include="'/fragment/messages.html'"></div>

<div class="row" ng-if="isLoggedIn()">
    <div class="col-12 bg-light pt-3" ng-hide="hideCreateRideForm">
        <form name="createRideForm" ng-submit="createRide()">
            <div class="form-row align-items-center">
                <div class="form-group col-12 col-lg-6">
                    <label for="pickup">Pickup location:</label>
                    <input class="form-control" type="input" id="pickup" name="pickup" ng-model="newRide.pickup" required placeholder="1234 NW Main Street, Oakland, CA"/>
                </div>
                <div class="form-group col-12 col-lg-6">
                    <label for="dropoff">Drop off location:</label>
                    <input class="form-control" type="input" id="dropoff" name="dropoff" ng-model="newRide.dropoff" required placeholder="Union Square, San Francisco, CA" />
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="form-group col-auto">
                    <label for="departureDate">Departure:</label>
                    <input class="form-control" type="date" id="departureDate" name="departureDate" ng-model="newRide.departureDate"
                           min="{{ newRide.minDeparture | date:'yyyy-MM-dd'}}" required />
                </div>
                <div class="form-group col-auto">
                    <label for="departureTime">Time:</label>
                    <input class="form-control" type="time" id="departureTime" name="departureTime" ng-model="newRide.departureTime"
                           ng-model-options="{timeSecondsFormat:''}" required />
                </div>
                <div class="form-group col-auto">
                    <label for="seats">Seats:</label>
                    <input class="form-control" type="number" min="1" max="4" id="seats" name="seats" ng-model="newRide.seats" required />
                </div>
                <div class="form-group col-auto">
                    <label for="pricePerSeat">Price per seat:</label>
                    <div class="input-group">
                        <input class="form-control" type="number" min="{{minPrice}}" max="{{maxPrice}}" step="{{priceStep}}" id="pricePerSeat" name="pricePerSeat" ng-model="newRide.pricePerSeat" required />
                        <div class="input-group-append">
                            <span class="input-group-text" id="unit">MBYTE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="btn btn-primary" type="submit" ng-disabled="isAccountPending() || createRideInProgress" aria-describedby="createRideHelp">Create</button>
                <button class="btn btn-link" type="button" ng-click="toggleCreateRideForm(true)">Hide</button>
            </div>
            <div class="form-row" ng-if="isAccountPending()">
                <div class="col">
                    <small id="createRideHelp" class="text-muted">Complete <a ng-href="#!/my/account">your profile</a> to create new rides or reserve one</small>
                </div>
            </div>
        </form>
    </div>
    <div class="col" ng-show="hideCreateRideForm">
        <button class="btn btn-link" type="button" ng-click="toggleCreateRideForm(false)">Create Ride</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row p-2" ng-repeat="ride in rides">
            <div class="col-12 card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ ride.departure | date:'MMM dd, yyyy HH:mm a'}} <br>
                        {{ ride.driver.name }}
                    </h5>
                    <p>
                        Pick-up: {{ ride.pickupAddress }} <br>
                        Drop-off: {{ ride.dropoffAddress }} <br>
                        {{ ride.seats - ride.reservationCount }} more left
                    </p>
                    <p ng-if="isBoarding(ride) || isCompleted(ride)">
                        <span class="text-info" ng-if="isBoarding(ride)"><b>Boarding now</b></span>
                        <span class="text-info" ng-if="isCompleted(ride)"><b>Completed</b></span>
                    </p>
                    <a class="card-link" ng-href="https://google.com/maps/dir/{{ ride.pickupAddress }}/{{ ride.dropoffAddress }}" target="carpool-map">Directions</a>
                    <button class="btn btn-link card-link" type="button" ng-click="reserve(ride)"
                            ng-if="isAccountReady() && ride.id && ride.seats > ride.reservationCount && !isReserved(ride) && !isCompleted(ride)">Reserve</button>
                    <a class="card-link" ng-href="#!/my/reservations/{{ ride.id }}" ng-if="isLoggedIn() && isReserved(ride)">Reserved</a>
                    <a class="card-link" ng-href="#!/my/ride/{{ ride.id }}" ng-if="isLoggedIn() && isMyRide(ride)">Start</a>
                </div>
            </div>
        </div>
    </div>
</div>
