<div ng-include="'/fragment/messages.html'"></div>

<div class="row" ng-if="isLoggedIn()">
    <div class="col-12 jumbotron pt-3" ng-hide="hideCreateRideForm">
        <form name="createRideForm" ng-submit="createRide()">
            <div class="form-row align-items-center">
                <div class="form-group col-12 col-lg-6">
                    <label for="pickup">Pickup location:</label>
                    <input class="form-control" type="input" id="pickup" name="pickup" ng-model="newRide.pickup" required placeholder="1234 NW Main Street, Oakland, CA"/>
                </div>
                <div class="form-group col-12 col-lg-6">
                    <label for="dropoff">Drop off location:</label>
                    <input class="form-control" type="input" id="dropoff" name="dropoff" ng-model="newRide.dropoff" required placeholder="Union Square, San Francisco, CA" />
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="form-group col-auto">
                    <label for="departureDate">Departure:</label>
                    <input class="form-control" type="date" id="departureDate" name="departureDate" ng-model="newRide.departureDate"
                           min="{{ newRide.minDeparture | date:'yyyy-MM-dd'}}" required />
                </div>
                <div class="form-group col-auto">
                    <label for="departureTime">Time:</label>
                    <input class="form-control" type="time" id="departureTime" name="departureTime" ng-model="newRide.departureTime"
                           ng-model-options="{timeSecondsFormat:''}" required />
                </div>
                <div class="form-group col-auto">
                    <label for="seats">Seats:</label>
                    <input class="form-control" type="number" min="1" max="4" id="seats" name="seats" ng-model="newRide.seats" required />
                </div>
                <div class="form-group col-auto">
                    <label for="pricePerSeat">Price per seat:</label>
                    <div class="input-group">
                        <input class="form-control" type="number" min="{{minPrice}}" max="{{maxPrice}}" step="{{priceStep}}" id="pricePerSeat" name="pricePerSeat" ng-model="newRide.pricePerSeat" required />
                        <div class="input-group-append">
                            <span class="input-group-text" id="unit">MBYTE</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="btn btn-primary" type="submit" ng-disabled="isAccountPending() || createRideInProgress" aria-describedby="createRideHelp">Create</button>
                <button class="btn btn-link" type="button" ng-click="toggleCreateRideForm(true)">Hide</button>
            </div>
            <div class="form-row" ng-if="isAccountPending()">
                <div class="col">
                    <small id="createRideHelp" class="text-muted">Complete <a ng-href="#!/my/account">your profile</a> to create new rides or reserve one</small>
                </div>
            </div>
        </form>
    </div>
    <div class="col" ng-show="hideCreateRideForm">
        <button class="btn btn-link" type="button" ng-click="toggleCreateRideForm(false)">Create Ride</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row p-2" ng-if="rides.length == 0">
            <div class="col-12 col-md-6 p-5">
                <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;"></div>
                <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                        src="https://www.youtube.com/embed/Q_YuLHeRb20" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-6 p-4 text-center text-md-left my-auto">
                <h4 >No upcoming rides yet.</h4>
                <span ng-if="!isLoggedIn()"><a ng-href="#!login">Log in</a> and create one!</span>
            </div>
        </div>
        <div class="row p-2" ng-repeat="ride in rides">
            <div class="col-12 p-0 card">
                <h5 class="card-header" ng-if="isBoarding(ride) || isCompleted(ride)">
                    <span ng-if="isBoarding(ride)"><b>Boarding now</b></span>
                    <span ng-if="isCompleted(ride)"><b>Completed</b></span>
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="row col-12 col-md-6">
                            <h5 class="col-auto bg-light border border-secondary text-dark rounded text-center py-2 ml-3">
                                <b>{{ ride.departure | date:'d'}}</b> <br>
                                <small>{{ ride.departure | date:'MMM'}}</small>
                            </h5>
                            <div class="col-8 text-truncate">
                                <span ng-if="ride.averageScore >= 0 && ride.totalRides >= 0"><star-rating rating="ride.averageScore * 5"/>, {{ ride.totalRides }} rides</span><br>
                                {{ ride.pricePerSeat | MBYTE | number }} MBYTE<br>
                                {{ ride.driver }}
                                <sup class="badge badge-success" ng-if="ride.hasDriversLicense" title="Verified drivers license">
                                    <i class="fa fa-id-card" aria-hidden="true"></i>
                                </sup>
                            </div>
                        </div>
                        <div class="row col-12 col-md-6 mt-2 mt-md-0">
                            <div class="col-auto text-center px-2 ml-3">
                                <b>{{ ride.departure | date:'hh:mm'}}</b><br>
                                <b>{{ ride.departure | date:'a'}}</b>
                            </div>
                            <div class="col">
                                <i class="fa fa-car"></i> {{ ride.pickupAddress }} <br>
                                <i class="fa fa-dot-circle-o"></i> {{ ride.dropoffAddress }} <br>
                                {{ ride.seats - ride.reservationCount }} more left
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <a class="card-link" ng-href="https://google.com/maps/dir/{{ ride.pickupAddress }}/{{ ride.dropoffAddress }}" target="carpool-map">Directions</a>
                        <button class="btn btn-link card-link" type="button" ng-click="reserve(ride)"
                                ng-if="isAccountReady() && ride.id && ride.seats > ride.reservationCount && !isReserved(ride) && !isCompleted(ride) && !isMyRide(ride)">Reserve</button>
                        <a class="card-link" ng-href="#!/my/reservations/{{ ride.id }}" ng-if="isLoggedIn() && isReserved(ride)">Reserved</a>
                        <button class="btn btn-primary card-link" type="button" ng-click="startRide(ride)" ng-if="isLoggedIn() && isMyRide(ride)">Start</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <button class="btn btn-link" ng-click="fetchRides()" ng-if="rides && rides.length" ng-disabled="fetchNoMore">More</button>
            </div>
        </div>
    </div>
    <div ng-if="!isLoggedIn()" ng-include="'/fragment/getstarted.html'"></div>
</div>
